.App {
  text-align: center;
}

.profilePic {
  max-width: 100%;
  border-radius: 10%;
  object-fit: cover;
}

.collagePic {
  max-width: 100%;
  object-fit: cover;
}

.body-1 {
  background-color: #EBFBFF;
  padding: 5rem;
}

.body-2 {
  background-color: #F0F4FF;
  padding: 5rem;
}

.body-3 {
  background-color: white;
  padding: 5rem;
}

.home {
  margin: 0;
}

.no-underline {
  text-decoration: none;
}