.App {
  text-align: center;
}

body {
  background: rgb(224,255,180);
  background: linear-gradient(121deg, rgba(224,255,180,1) 27%, rgba(200,234,255,1) 78%) fixed;
}

.profilePic {
  max-width: 100%;
  border-radius: 10%;
  object-fit: cover;
}

.collagePic {
  max-width: 100%;
  object-fit: cover;
}